.contenedorLogo img{
    max-width: 100px;
}

.menuRight{
    text-align: right;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0px;
}

.menuFlotante{
    position: fixed;
    width: 100%;
}

.contenedorInfo{
    padding-top: 130px;
}