body{
    background: linear-gradient(0deg, rgb(194, 180, 180) 0%, rgb(202, 79, 79) 57%);
}

.contenedorLogo img{
    max-width: 100px;
}

.menuRight{
    text-align: right;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
}

.menuFlotante{
    position: fixed;
    width: 100%;
}

.contenedorInfo{
    padding-top: 130px;
}
.contenedorInfoPeriodista{
    padding-top: 130px;
}
.contenedorInfoPeriodista ul{
    float:right;
}
.contenedorInfoPeriodista img{
    max-width: 500px;
}

#buscadorid{
    height: 45px;
    width: 200px;
}

#botonid{
    height: 45px;
}

.infoCartasP{
    align-content: center;
}
.infoCartasH{
    margin: 0px auto;
}

#footerPeriodista{
    position: fixed;
    bottom: 0;
}

#formulario{
    padding-top: 200px;
}

/*codigos del mati*/
.slide img{
    height: 65vh;
}

.card-border{

    border:solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}


#burbuja{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(194, 180, 180) 0%, rgb(202, 79, 79) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

/*.INNERBLOCk{
    display: inline-block;
}*/